; train.config

[project]
name          = {PROJECT}
owner         = {OWNER}

[model]
dataset_name  = {DATASET_NAME}
num_classes   = {NUM_CLASSES}
classes       = {CLASSES}

;{MODEL_INDEX} may take one of the values in the range [0,1,2,3,4,5,6]
efficient_det = {MODEL_INDEX}

;OUTPUT CONFIG DIR
config_dir    = ../projects/{PROJECT}/{DATASET_NAME}/config

;output dirs to save trained models
models       = ../projects/{PROJECT}/{DATASET_NAME}/models
best_model   = ../projects/{PROJECT}/{DATASET_NAME}/best_model


[train_config]
batch_size = {BATCH_SIZE}
epochs     = 300
learning_rate= {LEARNING_RATE}

[early_stopping]
patience= {PATIENCE}

[train]
train_data_path= ../projects/{PROJECT}/{DATASET_NAME}/train

[valid]
valid_data_path= ../projects/{PROJECT}/{DATASET_NAME}/valid

[test]
test_data_path= ../projects/{PROJECT}/{DATASET_NAME}/test
